<%- include('partials/header.ejs') %>
<div class="card">
    <form action="/" method="post">
        <h5 class="card-title">Create a Post</h5>
          <label for="postTitle" class="form-label">Title</label>
          <input type="text" class="form-control" id="postTitle" name="postTitle" placeholder="Enter title">
          <label for="postContent" class="form-label">Content</label>
          <textarea class="form-control" id="postContent" name="postContent" rows="3" placeholder="Enter content"></textarea>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
<% if (posts.length > 0) { %>
    <% posts.forEach((post , index) => { %>
        <div class="card">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"><%= post.content %></p>
            <div class="d-flex mt-auto">
                <form class="edit-post" action="/edit/<%= index %>" method="post">
                    <button type="submit" name="editBtn" class="btn btn-info me-2">Edit</button>
                </form>
                <form class="remove-post" action="/remove/<%= index %>" method="post">
                    <button type="submit" name="delBtn" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    <% }) %>
<% } %>
<%- include('partials/footer.ejs') %>